.height100{
    height: 100px;
}

.rojo{
    background: red;
}
.verde{
    background: green;
}
.azul{
    background: blue;
}
.amarillo{
    background: yellow;
}
.violeta{
    background: violet;
}